
#inputForm{
	margin-bottom: 20px;
	
}

#submitBtn {
	margin-left: 50px;
	width: 80px; 
	color: #008080;
}

#sportsName {
 width: 300px;
}


#maxLimit {
 width: 70px;
}

#labelName, #maxResults {
	margin-bottom: 20px;
	font-weight: bold;
}

button {
	width: 95px;
	height: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: #008080;
	color: black;
}

.gif{
	margin-top: 10px;
	margin-right: 10px;
	height: 200px;
	width: 320px;
	//float: left;
}

.rating {
	/*float: left;*/
}

.divClass{
 float: left;
}